<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102890835302-pofprr9tgicp1rjnr6aa5v0qnf6lqoul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102890835302-pofprr9tgicp1rjnr6aa5v0qnf6lqoul</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102890835302-e1t174e1pms5eok8grdnl4lg2mei16t3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEyNEsc-U_4CUW968kU-wNpYLtEIFNVwA</string>
	<key>GCM_SENDER_ID</key>
	<string>102890835302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cscc.app</string>
	<key>PROJECT_ID</key>
	<string>authoto-c8042</string>
	<key>STORAGE_BUCKET</key>
	<string>authoto-c8042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102890835302:ios:690f8ea4aca9b254decca7</string>
</dict>
</plist>